html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.left-menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-menu-content {
    flex-grow: 1;
}

.left-menu {
    margin-right: 16px;
    min-width: 200px;
}
